spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/therappy
    username: therappy
    password: therappy

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
